################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SECHEMERG/bin/Debug/net8.0
/SECHEMERG/obj
/.vs/SECHEMERG
